@model YummyProject.Models.PhotoGallery
@{
    ViewBag.Title = "AddPhoto";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>AddPhoto</h2>

<form method="post">

    <label>Image Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ImageUrl)
    <br />
    <br />
    <button class="btn btn-primary">Save</button>
</form>

